ind
.bloop/
.metals/
.scalafmt.conf
.vscode/
out/
mill.*
cuvee/src/cuvee/sexpr/Scanner.java~
debug.smt2
queries.zip
results.zip
z3-bug.smt2
benchmarks-dtt
benchmarks-smtlib
isaplanner
queries
vampire-benchmarks
benchmarks
README.md
results
